
.mixin.out
.oracle_jre_usage
.profile
.bash_logout
.env
.istmux
.bashrc

config/*
crash-reports/*
CustomServerTools/*
dynmap/*
journeymap/*
libraries/*
logs/*
mods/*
playerdata/*
Flan/*
local/*
minerim/*
plugins/*
world/advancements/*
world/apocalypse/*
world/data/*
world/DIM*
world/region/*
world/stats/*
world/customnpcs/playerdata/*
world/customnpcs/scripts/*.json

world/session.lock
world/icon.png
banned-ips.json

*.txt
*.log
*.jar
*.zip
*.xml
*.sh
*.properties
*.cfg
*.dat
*.dat_old
banned-players.json
ops.json
usercache.json
usernamecache.json
whitelist.json
