
.mixin.out
.oracle_jre_usage
.profile
.bash_logout
.env
.istmux
.bashrc


BlueMap/*

config/*
crash-reports/*
CustomServerTools/*
journeymap/*
libraries/*
logs/*
mods/*
playerdata/*
Flan/*
local/*
minerim/*
plugins/*
world/advancements/*
world/apocalypse/*
world/data/*
world/DIM*
world/region/*
world/stats/*
world/customnpcs/playerdata/*
dynmap/*
world/customnpcs/scripts/ecmascript/*/test*.js
world/customnpcs/scripts/ecmascript/GCNPC*

world/session.lock
world/icon.png
banned-ips.json
banned-players.json
ops.json
usercache.json
usernamecache.json
whitelist.json
autostart.stamp

*.txt
*.log
*.jar
*.zip
*.xml
*.sh
*.properties
*.cfg
*.dat
*.dat_old
*.old

!dynmap/markers.yml
!tools/*loottables.txt

# stored data
world/customnpcs/scripts/ecmascript/modules/winemaking/domains.json
# world/customnpcs/scripts/world_data*.json
world/customnpcs/scripts/forge_scripts.json
world/customnpcs/scripts/stock_exchange.json

gramados_stocks/*
myenv/*
world/customnpcs/scripts/json_tests/*
world/customnpcs/scripts/json_backups/*
world/customnpcs/scripts/ecmascript/modules/shopkeeping_dev/shopkeeper_OS_OLD.js
world/customnpcs/scripts/player_scripts.json
GramdatisServer-1.0-alpha-all.jar.OLD
reports/*.md
reports/*.json
world/customnpcs/linkednpcs/New.json
lore markdowns/Private Lore Recap.md
lore markdowns/TO SORT MESS/*.md
DiscordIntegration-Data/*
world/customnpcs/scripts/data_auto/*.json

tools/__pycache__/*
tools/wth is that?*
tools/output*.json
world/customnpcs/scripts/logs/*
tools/loot_table.json
