
.mixin.out
.oracle_jre_usage
.profile
.bash_logout
.env
.istmux
.bashrc

config/*
crash-reports/*
CustomServerTools/*
dynmap/*
journeymap/*
libraries/*
logs/*
mods/*
playerdata/*
Flan/*
local/*
minerim/*
plugins/*
world/advancements/*
world/apocalypse/*
world/data/*
world/DIM*
world/region/*

world/session.lock
world/icon.png

*.txt
*.log
*.jar
*.zip
*.xml
*.sh
*.json
*.properties
*.cfg
*.dat
*.dat_old
